##{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui raised segment">
    <div class="ui four column center aligned grid basic segment">
        <div class="column">
            <i class=" huge user icon"></i>
            <header class="ui header">
            ${member.firstname}${member.lastname}
            </header>
        </div>
        <div class="column">
        #{if isIdealBodyWeight == true }<i class=" green tachometer alternate icon huge icon"></i>#{/if}
        #{else}<i class="red tachometer alternate icon huge icon"></i>#{/else}
            <header class="ui header">
                IDEAL WEIGHT INDICATOR
            </header>
        </div>
        <div class ="column">
            <header class = "ui header">BMI</header>
            <i class="big heartbeat icon"></i>
            <header class = "ui header" formate="##.##">
            ${BMI}
            </header>
        </div>
        <div class ="column">
            <header class="ui header">
                BMI Range
            </header>
            <i class="big user md icon"></i>
            <header class="ui header">
            ${determineBMICategory}
            </header>
        </div>
    </div>
</section>

<section class="ui raised segment">
    <header class="ui header">
        Assessment History
    </header>

    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        #{list items:assessments, as:'assessment'}
        <tr>
            <td>
            ${assessment.weight}
            </td>
            <td>
            ${assessment.chest}
            </td>
            <td>
            ${assessment.thigh}
            </td>
            <td>
            ${assessment.upperArm}
            </td>
            <td>
            ${assessment.waist}
            </td>
            <td>
            ${assessment.hips}
            </td>
            <td>
            ${assessment.comment}
            </td>

            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>
